.first-p{
    padding-top: 128px;
}
h1{
    padding-top: 128px;
    padding-left: 40vw;
    margin-bottom: 64px;
}
p{
    margin-left: 10vw;
    width: 80vw;
    margin-bottom: 64px;
}
h2{
    margin-left: 10vw;
    width: 80vw;
}